<footer>
	<div id="footer-press">
		<div class="container">
			<div id="reseau" class="block-footer">
				<h4>RETROUVEZ-NOUS AUSSI SUR</h4>
				<ul>
					<li><a href="https://www.facebook.com">
						<img alt="paiement" src="{{ asset('bundles/machouilleproduit/images/logo/facebook-c.png') }}" width="30px">
						<p>Facebook</p>
					</a></li>
					<li><a href="https://plus.google.com/">
						<img alt="paiement" src="{{ asset('bundles/machouilleproduit/images/logo/google-c.png') }}" width="30px">
						<p>Google plus</p>
					</a></li>
					<li><a href="https://www.twitter.com">
						<img alt="paiement" src="{{ asset('bundles/machouilleproduit/images/logo/twitter-c.png') }}" width="30px">
						<p>Twitter</p>
					</a></li>
					<li><a>
						<img alt="paiement" src="{{ asset('bundles/machouilleproduit/images/logo/rss-c.png') }}" width="30px">
						<p>Flux RSS</p>
						</a></li>
				</ul>
			</div>
			<div id="divers" class="block-footer">
				<h4>DIVERS</h4>
				<ul>
					<li>Livraison</li>
					<img alt="paiement" src="{{ asset('bundles/machouilleproduit/images/ups.png') }}" width="30px">
					<br>
					<li>Mode de paiement :	<li>
					<img alt="paiement" src="{{ asset('bundles/machouilleproduit/images/modes-paiement.png') }}">
				</ul>
			</div>
			<div id="apropos" class="block-footer">
				<h4>A PROPOS</h4>
				<ul>
					<li><a>Qui sommes-nous ?</a></li>
					<li><a>Nos valeurs</a><li>
					<li><a href="{{ path("machouille_produit_contact") }}">Nous contacter</a><li>
					<li><a>FAQ (Foire aux questions)</a><li>
				</ul>
			</div>
			<div id="partenaire" class="block-footer">
				<h4>PATERNAIRE</h4>
				<a>Candy Crush Saga</a>
			</div>
		</div>
	</div>

	<div id="mention">
		<div id="mention-container">
			<p>C.G.V.</p>
			<p>Mentions légales</p>
			<p>© 2014 - 2015 Machouille/Chewing Gum</p>
		</div>
	</div>
</footer>