<header>
	<div id="logo">
		<h1>Machouille Chewing Gum</h1>
		<h4>Le meilleur Chewing Gum du monde</h4>
		<div class="right">
			<form id="recherche" action="" method="get">
				<input type="text">
				<input type="submit" value="Recherche">
			</form>
		</div>
	</div>
	<div id='cssmenu'>
		<ul class="container cssmenu">
			<li><a href='{{ path("machouille_produit_homepage") }}'><span>Accueil</span></a></li>
			<li class='has-sub'><a href='{{ path("machouille_produit_catalogue") }}'><span>Catalogue</span></a>
				<ul>
					<li><a href='{{ path("machouille_produit_catalogue", {'famille': "Tri-goût"}) }}'><span>Trigoût</span></a></li>
					<li><a href='{{ path("machouille_produit_catalogue", {'famille': "Crémeux"}) }}'><span>Crémeux</span></a></li>
					<li><a href='{{ path("machouille_produit_catalogue", {'famille': "Fruités"}) }}'><span>Fruités</span></a></li>
				</ul></li>
			<li><a href='{{ path("machouille_produit_special") }}'><span>Offre Spécial</span></a></li>
			<li><a href='{{ path("machouille_produit_jeu") }}'><span>Jouer avec nous</span></a></li>
			<li><a href='{{ path("machouille_produit_contact") }}'><span>Contact</span></a></li>
		</ul>
	</div>
</header>