{% extends 'MachouilleProduitBundle::layout.html.twig' %} {% block
stylesheets %} {{ parent() }}
<link rel="stylesheet"
	href="{{ asset('bundles/machouilleproduit/css/catalogue.css') }}"
	type="text/css" media="screen and (min-width: 800px)" />
{% endblock %} {% block title %}Le meilleur Chewing Gum du monde{%
endblock %} {% block body %}
<div id="main-page" class="container">
	<h4>Voici les produits de famille {{ famille }}</h4>
	<div class="articles">
	 	{% for produit in Produits %}
		<div class="article">
			<form action="{{ path("machouille_produit_addpanier", {"code": produit.codeproduit}) }}" method="post">
				<img alt="" src="{{ asset('bundles/machouilleproduit/images/'~famille~'.png')}}">
				<p class="gout">Goût : {{ produit.designation }}</p>
				<p>En stock {{ produit.quantite }} </p>
				<p>Prix : {{ produit.prix }} €</p>
				<input type="submit" value="Ajouter Au Panier">
			</form>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
